* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  background-color: #e1dee5;
  padding: 5rem;
  min-height: 100vh;
}
img {
  display: block;
  max-width: 100%;
}
input,
select,
textarea,
button {
  outline: none;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none;
}
button {
  cursor: pointer;
}
label,
input {
  font-size: 1.6rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
}
$primaryColor: #fc556f;
$secondaryColor: #fd9c84;
$blueColor: #42a7fe;
$greenColor: #00c899;
$textColor: #20134f;
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
@mixin size($width: width, $height: $width) {
  width: $width;
  height: $height;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
}
.signup {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(black, 0.1);
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  &__content,
  &__image {
    width: calc(50% - 4rem);
  }
  &__heading {
    font-weight: bold;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: $textColor;
  }
  &__caption {
    color: $primaryColor;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4.5rem;
    position: relative;
    padding-left: 12rem;
    &::before {
      content: "";
      width: 10rem;
      height: 2px;
      background-color: $primaryColor;
      position: absolute;
      left: 3rem;
      top: 50%;
      transform: translateX(-50%);
    }
  }
  &-social {
    @include flexbox(stretch, space-between);
    &__item {
      padding: 1.5rem 2.5rem;
      border: 1px solid #eee;
      border-radius: 10px;
      cursor: pointer;
      @include flexbox(center, center);
      color: $textColor;
      width: calc(50% - 1.5rem);
    }
    &__icon {
      margin-right: 2rem;
    }
  }
  &-form {
    &__lable {
      color: $textColor;
      display: inline-block;
      margin-bottom: 1rem;
      transform: translateX(1rem);
      cursor: pointer;
    }
    &__input {
      padding: 1.5rem 2rem;
      border: 1px solid #eee;
      border-radius: 10px;
      display: block;
      width: 100%;
      transition: all 0.2s linear;
      &:focus {
        background-color: white;
        border-color: $primaryColor;
        & + .signup-form__check {
          background-color: $primaryColor;
          color: white;
        }
      }
    }
    &__row {
      @include flexbox(stretch, space-between);
      margin-top: 6rem;
      margin-bottom: 3rem;
      .signup-form__group {
        width: calc(50% - 1.5rem);
      }
    }
    &__term {
      input {
        display: none;
        &:checked + .lable::after {
          opacity: 1;
          visibility: visible;
        }
      }
      label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin: 3rem 0 5rem 0;
        padding-left: 3.5rem;
        &::before {
          content: "";
          @include size(2.5rem);
          border-radius: 8px;
          background-color: $primaryColor;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid #ccc;
          transition: all 0.2s linear;
        }
        &::after {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          @include size(2rem, 1rem);
          transform: rotate(-45deg);
          border-left: 3px solid white;
          border-bottom: 3px solid white;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s linear;
        }
      }
    }
    &__submit {
      @include size(8rem);
      border: 0;
      color: white;
      border-radius: 3rem;
      background-color: $primaryColor;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      cursor: pointer;
      margin-bottom: 6.5rem;
      box-shadow: -1px 0px 10px 5px rgba($primaryColor, 0.5);
    }
    &__validate {
      position: relative;
      .signup-form__input {
        padding-right: 6rem;
      }
    }
    &__check {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s linear;
      @include size(3rem);
      border-radius: 1rem;
      color: $textColor;
      background-color: #eee;
    }
  }
  &__already {
    color: $textColor;
    a {
      color: $primaryColor;
    }
  }
}
@media screen and (max-width: 1439px) {
  .signup {
    &__content {
      width: calc(60% - 1rem);
    }
    &__image {
      width: calc(40% - 1rem);
    }
  }
}
@media screen and (max-width: 1279px) {
  .signup {
    &__content {
      width: 100%;
    }
    &__image {
      display: none;
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    padding: 1rem;
  }

  .signup {
    padding: 2rem;
    &-social {
      flex-direction: column;
      &__item {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    &-form {
      &__row {
        flex-direction: column;
        margin-bottom: 0;
        .signup-form__group {
          width: 100%;
          margin-bottom: 2rem;
        }
      }
      &__group {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
    &__caption {
      &::before {
        left: 5rem;
      }
    }
  }
}
